@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* tao mau*/
h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 10px;
    color: #ffffff;
}

h4 {
    font-size: 30px;
    line-height: 64px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 12px;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/*header*/
#header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 80px;
    background: #1c3545;
    background-size: 20px 20px;
    box-shadow: 0 5px 15px #000000;
    position: sticky;
    top: 0;
    left: 0;
}

/*can le chu thanh ngang*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff7f7da;
    transition: 0.3s ease;
}

#navbar li a.login {

    background-color: #088178;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

#navbar li:last-child {
    margin-left: auto;
    padding-right: 0;
}

/*doi mau chu*/
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

/*gach duoi*/
#navbar li a.active::after,
#navbar li a.hover::after {

    content: "";
    width: 30%;
    background: #088178;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}






#hero {
    background-image: url("img/home/backgournd_1.jpg");
    height: 90vh;
    width: 100vw;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-list {
    display: flex;
}

#video-goty {
    background: #1b2838;
    flex-direction: column;
}

.mathk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mathk2 {
    display: flex;
    align-items: center;
    justify-content: center;
}