@charset "UTF-8";

/* Reset cơ bản */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
}

body {
	width: 100%;
}

/* Nút mặc định */
button.normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: #000;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}

/* Thanh navbar chính */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #1c3545;
	position: sticky;
	top: 0;
	left: 0;
	  z-index: 20;
}

/* Container bọc logo + menu */
#container {
	display: flex;
	align-items: center;
	width: 100%;
}

/* Logo */
.navbar-brand img {
	height: 40px;
	width: auto;
	
}

/* Menu chính */
#menu {
	display: flex;
	align-items: center;
	 justify-content: flex-starts;
	 flex: 1;
}

/* Danh sách menu */
#navbar-nav {
	display: flex;
	list-style: none;
	
}

/* Các mục menu */
#navbar-nav .nav-item {
	position: relative;
	padding: 0 20px;
}

#navbar-nav .nav-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff7f7da;
	transition: 0.3s ease;
}

/* Hover + active */
#navbar-nav .nav-item a:hover,
#navbar-nav .nav-item a.active {
	color: #088178;
}

/* Gạch dưới khi active */
#navbar-nav .nav-item a.active::after,
#navbar-nav .nav-item a:hover::after
	{
	content: "";
	width: 30%;
	background: #088178;
	height: 2px;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

/* Dropdown menu */
.navbar .dropdown-menu {
	background-color: #696969;
	border: none;
	z-index: 30;
	
}

.navbar .dropdown-menu .dropdown-item {
	color: white;
}

.dropdown-menu .dropdown-item:hover {
	background-color: white;
	color: #088178;
}

/* Nút Login */
.btn-login {
	margin-left: auto;
	padding-right: 0;
}

.btn-login .login {
	color: white;
	background-color: #088178;
	padding: 8px 15px;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

.btn-login .login:hover {
	background-color: white;
	color: #088178;
}
/* Hết phần css trên */


