@charset "UTF-8";

.sub-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(27, 40, 56);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 20;
}

#sub-container {
	display: flex;
	align-items: center;
	width: 100%;
}

#sub-menu {
	display: flex;
	align-items: center;
	justify-content: flex-starts;
	flex: 1;
}
/* Danh sách menu */
#sub-navbar-nav {
	display: flex;
	list-style: none;
}

#sub-navbar-nav .sub-nav-item {
	position: relative;
	padding: 0 20px;
}

#sub-navbar-nav .sub-nav-item a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #fff7f7da;
	transition: 0.3s ease;
}
/* Hover + active */
#sub-navbar-nav .sub-nav-item a:hover, #sub-navbar-nav .sub-nav-item a.active
	{
	color: #088178;
}

#sub-navbar-nav .sub-nav-item a.active::after, #sub-navbar-nav .sub-nav-item a:hover::after
	{
	content: "";
	width: 30%;
	background: #088178;
	height: 2px;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

/* Sub drop menu*/
.sub-navbar .dropdown-menu{
	background-color: #696969;
	border: none;
}
.sub-dropdown-menu .sub-dropdown-item{
	color: white;
}
.sub-dropdown-menu .sub-dropdown-item:hover{
	background-color: white;
	color: #088178;
}

/* Thanh tìm kiếm */
#btn-search{
	
	margin-left: auto;
	padding-right: 0;
}
.d-flex {
	margin-left: auto;
	padding-right: 0;
}
.search{
}