@charset "UTF-8";
body {
	background-color: #1b2838; /* Dark Navy Blue */
    color: #c7d5e0; /* Nên dùng màu chữ sáng để dễ đọc */
    /* Bật Flexbox */
    display: flex;
    /* Hướng dọc (theo cột) */
    flex-direction: column;
    /* Đảm bảo body chiếm toàn bộ chiều cao màn hình */
    min-height: 100vh; 
    margin: 0; /* Xóa margin mặc định của body */
}


footer {
    /* Đảm bảo footer không bị co lại và luôn nằm cuối */
    flex-shrink: 0;
}