@charset "UTF-8";

#poster {
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	height: 90vh;
	margin: 30;
	padding: auto;
}
#poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
